@import '../../../../../../assets/style/vars.scss';

.count {
  &_btn {
    height: 28px;
    width: 28px;
    background-color: var(--color-white);
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: rgb(204, 204, 204);
    }
    &_disable {
      height: 28px;
      width: 28px;
      background-color: #D9D9D9;
    }
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    width: 84px;
  }
  &_input {
    color: var(--color-brown);
    text-align: center;
    width: 28px;
    height: 28px;
    font-size: 15px;
  }
}

// ===================MEDIA=======================

@media (max-width: 611px) {
  .count {
    &_btn {
      height: 20px;
      width: 20px;
      &_disable {
        height: 20px;
        width: 20px;
      }
    }
    &_input {
      height: 20px;
      width: 20px;
    }
    &_wrap {
      width: 60px;
    }
  }
}

@media (max-width: 476px) {
  .count {
    &_btn {
      height: 15px;
      width: 15px;
      &_disable {
        height: 15px;
        width: 15px;
      }
    }
    &_input {
      height: 15px;
      width: 15px;
      font-size: 10px;
    }
    &_wrap {
      width: 45px;
    }
  }
}