@import '../../../assets/style/vars.scss';


.card_wrap {
    width: $container;
    margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.card_descr {
	position: relative;
	&_item {
		position: absolute;
		top: 50%;
		left: 1.2%;
		font-family: 'Forum';
		line-height: 31px;
		font-size: 30px;
		color: var(--color-white);
	}
	&_img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.auth_content {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    background-color: var(--color-grey);
}

.auth_wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;

}

.nav_auth {
    font-size: 17px;
    font-family: "Montserrat";
    color: var(--color-brown);
    padding-bottom: 5px;
    width: 100%;
    transition: 0.6s ease-out;
    &:hover {
        color: var(--color-light-brown);
    }
    &_active {
        font-size: 17px;
        font-family: "Montserrat";
        color: var(--color-light-brown);
        padding-bottom: 5px;
        width: 100%;

        transition: 0.6s ease-out;
    }
}

.form_wrap {
    width: 474px;
    height: 620px;
    background-color: var(--color-white);
}


// ===========MEDIA===============

@media (max-width: 1340px) {
	.card_wrap {
        width: 1150px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .card_descr {
        width: 600px;
        &_item {
            font-size: 24px;
        }
    }
}

@media (max-width: 1170px) {
    .card_wrap {
        width: 1000px;
    }
    .card_descr {
        display: none;
    }
    .card_wrap {
        justify-content: center;
    }
}

@media (max-width: 1022px) {
    .card_wrap {
        width: 850px;
    }
}

@media (max-width: 886px) {
    .card_wrap {
        width: 100%;
    }
}

@media (max-width: 886px) {
    .form_wrap {
        width: 400px;
    }
}

@media (max-width: 800px) {
    .form_wrap {
        width: 390px;
    }
}

@media (max-width: 435px) {
    .form_wrap {
        width: 98%;
    }
    .nav_auth {
        font-size: 15px;
        &_active {
            font-size: 15px;
        }
    }
}
