@import '../../../assets/style/vars.scss';

.btn {
	font-family: 'Montserrat Bold';
	color: var(--color-white);
	appearance: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 200px;
    text-decoration: none;
    padding: 0 40px;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
	background-color: var(--color-light-brown);
	transition: 0.4s ease-in-out;
	&:hover {
		background-color: var(--color-brown);
	}
}

// =================MEDIA====================

@media (max-width: 1022px) {
    .btn {
        height: 50px;
        width: 180px;
        font-size: 12px;
    }
}