@import '../../../../assets/style/vars.scss';

.account, .basket {
	margin-left: 22px;
	& svg {
		fill: var(--color-brown);
		transition: 0.4s ease-in-out;
	}
	& svg:hover {
		fill: var(--color-light-brown);
	}
}

.account {
	display: flex;
	align-items: center;
	position: relative;
	&_login {
		position: absolute;
		top: 30px;
		background-color: var(--color-white);
		z-index: 2;
		border-radius: 2px;
		left: -70px;
		display: none;
		transition: 0.4s ease-in-out;
	}
	&:hover &_login {
		display: block;
	}
	&_link {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
		padding-left: 20px;
		font-family: "Montserrat";
		color: var(--color-brown);
		transition: 0.4s ease-in-out;
	}
	&_link:hover {
		color: var(--color-light-brown);
	}
	&_user {
		font-family: 'Montserrat';
		font-size: 16px;
		margin-right: 5px;
		color: var(--color-brown);
        transition: 0.4s ease-in-out;
	}
	&_user:hover {
		color: var(--color-light-brown);
		cursor: pointer;
	}
}


@media (max-width: 886px) {
	.account_user {
        display: none;
    }
}