@import '../../../assets/style/vars.scss';


.form {
    padding: 41px 58px;
    &_body {
        position: relative;
    }
}

.form_edit {
    width: 390px;
}

//==========MEDIA============

@media (max-width: 429px) {
    .form {
        padding: 21px 40px;
    }
}

@media (max-width: 397px) {
    .form {
        padding: 21px 3px;
    }
}

@media (max-width: 583px) {
    .form_edit {
        width: 80%;
    }
}