@import '../../../../assets/style/vars.scss';

.catalog {
	padding-top: 50px;
	padding-bottom: 220px;
    &_wrap {
        width: 1290px;
        margin: 0 auto;
        display: flex;
		justify-content: space-between;
    }
    &_filter {
        width: 342px;
		background-color: var(--color-white);
		padding-left: 27px;
    }
    &_filter_top {
        padding-top: 32px;
		padding-bottom: 50px;
    }
}