//colors
// $main-color: #3c5280;
// $sub-color: #272b33;
// $title-color: #ebf0fa;
// $text-color: #fff;

:root {
	--color-grey: #F2F2F2;
	--color-brown-hover: #726b68;
	--color-brown: #706A66;
	--color-light-brown: #BCBAB5;
	--color-white: #ffffff;
	--color-red: #C77958;
}

//fonts
// $title: 'Zen Kurenaido', sans-serif;
// $text: 'Poiret One', cursive;

//vars
// $title-size: 36px;
// $text-size: 18px;
$container: 1290px;
