@import "../../../../assets/style/vars.scss";

.carousel_btn {
    &_svg  {
        stroke: var(--color-brown)
    }
    &_active {
        stroke: var(--color-white)
    }
    &_right {
        height: 50px;
        width: 50px;
    }
    &_left {
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }
    &_wrap {
        display: flex;
        justify-content: end;
        position: absolute;
        width: 1290px;
        top: -80px;
    }
}
