@import '../../../../../assets/style/vars.scss';


.product_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 30px;
	column-gap: 30px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 30px;
}

// =================MEDIA====================

@media (max-width: 1340px) {
	.product_list {
		margin-left: 10px;
		column-gap: 15px;
		row-gap: 15px;
	}
}

@media (max-width: 1170px) {

}


@media (max-width: 1022px) {
}

@media (max-width: 886px) {

}