@import '../../../../../assets/style/vars.scss';


.product_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 30px;
	column-gap: 30px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 30px;
}