@import '../../../assets/style/vars.scss';

.container {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.catalog {
    &_wrap {
        background-color: var(--color-grey);
    }
}