@import "../../../../assets/style/vars.scss";

.catalog {
	margin-top: 50px;
	margin-bottom: 50px;
	&_filter {
		width: 342px;
		background-color: var(--color-white);
		padding-left: 27px;
		min-height: 600px;
		height: 100%;
	}
	&_filter_top {
		padding-top: 32px;
		padding-bottom: 50px;
	}
	&_filter_item {
		display: inline-block;
		color: var(--color-brown);
		font-size: 18px;
		font-family: "Montserrat";
		position: relative;
		padding-bottom: 14px;
		transition: 0.4s ease-in-out;
		&_active {
			display: inline-block;
		  color: var(--color-light-brown);
		  font-size: 18px;
		  font-family: "Montserrat";
			position: relative;
		  padding-bottom: 14px
		}
	}
	&_filter_item:hover {
		color: var(--color-light-brown);
	}
	&_filter_item::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 2px;
		background-color: var(--color-light-brown);
		transition: width 0.3s ease-out;
	}
	&_filter_item:hover::after,
	:focus::after {
		width: 90%;
	}
}

.sales {
	color: var(--color-red);
	transition: 0.4s ease-in-out;
	&_active {
		color: red
	}
	&:hover {
		color: red;
	}
}

// =================MEDIA====================

@media (max-width: 1340px) {
	.catalog {
		&_filter {
			width: 300px;
		}
	}
}

@media (max-width: 1170px) {
	.catalog {
		&_filter {
			width: 200px;
			margin-right: 20px;
		}
	}
}


@media (max-width: 727px) {
	.catalog {
		margin-top: 10px;
		margin-bottom: 0;
	}
}

// @media (max-width: 1170px) {
// 	.catalog {
// 		margin-bottom: 0;
// 		&_filter {
// 			display: flex;
// 			justify-content: center;
// 			width: 100%;
// 			min-height: auto;
// 			padding-left: 0;
// 		}
// 		&_filter_top {
// 			display: flex;
// 			justify-content: space-between;
// 			padding-bottom: 15px;
// 			padding-top: 15px;
// 		}
// 		&_filter_bottom {
// 			display: flex;
// 			justify-content: space-between;
// 			padding-top: 15px;
// 			padding-bottom: 15px;
// 		}
// 		&_filter_item {
// 			margin-right: 15px;
// 			padding-bottom: 0;
// 			&_active {
// 				margin-right: 15px;
// 				padding-bottom: 0;
// 			}
// 		}
// 	}
// }
