.background {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 100%;
    background: #fff;
  }

  .menu_nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 5;
  }

  // ===============MEDIA==============

  @media (max-width: 1022px) {
    .menu_nav {
      display: block;
    }
  }