@import "../../../../assets/style/vars.scss";

.toggle {
  &_btn {
    display: none;
    position: absolute;
    left: 15px;
    top: 30px;
    z-index: 15;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;

    &::before {
      content: "";
      background-color: var(--color-brown);
      position: absolute;
      top: 2px;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 9px;
    }

    &::after {
      content: "";
      background-color: var(--color-brown);
      position: absolute;
      bottom: 2px;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }

  &_path {
    position: absolute;
    background-color: var(--color-brown);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;

    &.active {
      transform: scale(0);
    }
  }
}
//----------------MEDIA-------------------

@media (max-width: 1022px) {
  .toggle_btn {
    display: block;
  }
}