@import '../../../assets/style/vars.scss';

.modal {
  &_wrap {
    background-color: var(--color-white);
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
  }
  &_msg {
    font-family: 'Montserrat';
    font-size: 16px;
    color: var(--color-brown);
  }
}