@import '../../../../../../assets/style/vars.scss';

.btn {
  font-size: 12px;
  color: var(--color-brown);
  font-family: 'Montserrat';
  margin-left: 10px;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  &:hover {
    color: var(--color-light-brown);
    border-bottom: 1px solid var(--color-light-brown);
  }
}


// ===================MEDIA=======================

@media (max-width: 1340px) {
  .btn {
    font-size: 11px;
  }
}

@media (max-width: 1170px) {
  .btn {
    font-size: 10px;
    white-space: nowrap;
  }
}