@import '../../../assets/style/vars.scss';

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	grid-area: header;
	background-color: var(--color-grey);
	z-index: 10;
	transition: all ease-in-out 0.2s;
	&_sticky_menu {
		top: -80px;
	}
	&_personal {
		display: flex;
	}
	&_menu {
		position: relative;
		height: 80px;
    width: $container;
    margin: 0 auto;
		display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
}


.mainmenu {

	&_item {
		margin-left: 100px;
	}
	&_item_link {
		position: relative;
		font-family: 'Montserrat';
		font-size: 12px;
		color: var(--color-brown);
		&_active {
			position: relative;
		  font-family: 'Montserrat';
		  font-size: 12px;
			color: var(--color-light-brown);
		}
	}

	&_item_link:hover {
		color: var(--color-brown-hover);
	}
	&_item_link::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 2px;
		background-color: var(--color-brown-hover);
		transition: width 0.3s ease-out;
	}
	&_item_link:hover::after, &_item_link:focus::after {
		width: 100%;
	}
	&_item:first-child {
		margin-left: 0;
	}
	&_list {
		display: flex;
	}
}

.form {
	display: flex;
	align-items: center;
	&_item {
		height: 20px;
		padding-left: 5px;
		color: var(--color-brown);
		-webkit-appearance: none;
		transition: 1.3s ease 0s;
		border: 1px solid var(--color-grey);
	}
	&_item:hover {
		border: 1px solid var(--color-brown);
	}
	&_item:focus::-webkit-input-placeholder {
		color: transparent;
	}
	&_item::placeholder {
		color: var(--color-light-brown);
	}
	&_item::-webkit-search-cancel-button {
		-webkit-appearance: none;
		width: 25px;
		height: 25px;
		background: url(../../../../public/cross.png);
		margin-right: 2px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	&_btn {
		margin-left: 5px;
	}
}

.logo {
	position: absolute;
}


// ======================================================

@media (max-width: 1340px) {
	.header_menu {
        width: 1150px;
				padding-right: 15px;
				padding-left: 15px;
    }
}

@media (max-width: 1170px) {
	.header_menu {
        width: 1000px;
    }
}

@media (max-width: 1022px) {
	.header_menu {
				width: 100%;
    }
	.mainmenu {
		display: none;
    }
	.logo {
		position: absolute;
		left: 45%;	
	}
}

@media (max-width: 886px) {

}


@media (max-width: 500px) {
	.logo img {
		width: 66px;
		height: 34px;
	}
}
