@import '../../../assets/style/vars.scss';

.profile {
    &_user_info {
        display: flex;
        justify-content: space-between;
        width: 390px;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-brown);
        font-family: 'Montserrat';
        font-size: 15px;
        color: var(--color-brown);
        span {
            color: #2e2b29;
        }
    }
}

// =================MEDIA====================


@media (max-width: 611px) {
    .profile {
        &_user_info {
            width: 300px;
            font-size: 13px;
        }
    }
}

@media (max-width: 500px) {
    .profile {
        &_user_info {
            width: 280px;
        }
    }
}