@import "../../../assets/style/vars.scss";

.product {
	&_item {
		display: inline-flex;
		flex-direction: column;
		height: 430px;
		width: 285px;
		border: 2px solid var(--color-light-brown);
		cursor: pointer;
		justify-content: space-between;
		padding: 15px 15px 15px 15px;
		transition: 0.6s;
	}
	&_item:hover {
		box-shadow: 7px 4px 4px rgb(216, 212, 212);
	}
	&_title {
		font-family: "Forum";
		font-size: 24px;
		text-align: end;
		color: var(--color-brown);
	}
	&_price {
		display: block;
		text-align: end;
		margin-right: 12px;
		font-family: "Forum";
		font-size: 30px;
		color: var(--color-brown);
		&_sm {
			display: block;
		  text-align: end;
		  margin-left: 12px;
		  font-family: "Forum";
		  font-size: 23px;
		  color: var(--color-light-brown);
		  text-decoration: line-through;
		}
		&_sales {
			font-family: "Forum";
			color: var(--color-red);
			font-size: 28px;
			margin-right: 8px;
		}
	}
	&_item_img {
		display: block;
		object-fit: cover;
		width: 250px;
		height: 250px;
	}
	&_item_price_wrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 7px;
	}
	&_btn {
		display: flex;
		justify-content: space-between;
	}
}

// =========MEDIA=================

@media (max-width: 1340px) {
	.product {
		&_item {
			height: 350px;
			width: 225px;
			padding: 10px 10px 10px 10px;
			&_img {
				width: 200px;
				height: 200px;
			}
		}
		// &_title {
		// 	font-size: 20px;
		// }
		// &_price {
		// 	margin-right: 8px;
		// 	font-size: 28px;
		// }
	}
}

@media (max-width: 1170px) {
	.product {
		&_item {
			height: 350px;
			width: 230px;
			padding: 10px 10px 10px 10px;
		}

		&_title {
			font-size: 20px;
		}

		&_price {
			margin-right: 8px;
			font-size: 28px;
		}
	}
}

//===========Small Card================

.product_small {
	&_item {
		display: inline-flex;
		flex-direction: column;
		height: 430px;
		width: 285px;
		border: 2px solid var(--color-light-brown);
		cursor: pointer;
		justify-content: space-between;
		padding: 15px 15px 15px 15px;
		transition: 0.6s;
	}
	&_item:hover {
		box-shadow: 7px 4px 4px rgb(216, 212, 212);
	}
	&_title {
		font-family: "Forum";
		font-size: 24px;
		text-align: end;
		color: var(--color-brown);
	}
	&_price {
		display: block;
		text-align: end;
		margin-right: 12px;
		font-family: "Forum";
		font-size: 30px;
		color: var(--color-brown);
		&_sm {
			display: block;
		  text-align: end;
		  margin-left: 12px;
		  font-family: "Forum";
		  font-size: 23px;
		  color: var(--color-light-brown);
		  text-decoration: line-through;
		}
		&_sales {
			font-family: "Forum";
			color: var(--color-red);
			font-size: 28px;
			margin-right: 8px;
		}
	}
	&_item_img {
		display: block;
		object-fit: cover;
		width: 250px;
		height: 250px;
	}
	&_item_price_wrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 7px;
	}
	&_btn {
		display: flex;
		justify-content: space-between;
	}
}


//==============Media Small==============

@media (max-width: 1340px) {
	.product_small {
		&_item {
			height: 350px;
			width: 225px;
			padding: 10px 10px 10px 10px;
			&_img {
				width: 200px;
				height: 200px;
			}
		}
		&_title {
			font-size: 20px;
		}
		&_price {
			margin-right: 8px;
			font-size: 28px;
		}
	}
}

@media (max-width: 1170px) {
	.product_small {
		&_item {
			height: 350px;
			width: 230px;
			padding: 10px 10px 10px 10px;
		}
	}
}


@media (max-width: 971px) {
	.product_small {
		&_title {
			text-align: inherit;
			margin-left: 10px;
			flex-grow: 1;
		}
		&_item {
			height: 150px;
			width: 100%;
			flex-direction: row;
			&_price_wrap {
				position: absolute;
				right: 25px;
				& svg {
					width: 10px;
					height: 15px;
				}
			}
			&_img {
				width: 125px;
				height: auto;
				flex-shrink: 0;
			}
		}
		&_btn {
			align-items: flex-end;
			& button {
				margin-left: 10px;
				padding: 0 15px;
			}
		}
	}
}

@media (max-width: 583px) {
	.product_small {
		&_title {
			font-size: 17px;
		}
		&_item {
			height: 120px;
			width: 100%;
			&_price_wrap svg {
				height: 13px;
				width: 8px;
			}
			&_img {
				width: 100px;
			}
		}
		&_price {
			font-size: 22px;
			margin-right: 5px;
			&_sm {
				font-size: 22px;
			}
			&_sales {
				font-size: 24px;
				margin-right: 5px;
			}
		}
		&_btn {
			& button {
				padding: 0 10px;
				height: 25px;
				font-size: 6px;
			}
		}
	}
}

@media (max-width: 462px) {
	.product_small {
		&_title {
			font-size: 14px;
		}
		&_item {
			height: 90px;
			&_img {
				width: 60px;
			}
		}
		&_price {
			&_sm {
				font-size: 16px;
			}
			font-size: 16px;
			&_sales {
				font-size: 16px;
			}
		}
		&_btn {
			& button {
				padding: 0 7px;
				height: 20px;
			}
		}
	}
}

@media (max-width: 373px) {
	.product_small {
		&_title {
			font-size: 12px;
		}
		&_btn {
			& button {
				margin-left: 5px;
				font-size: 5px;
			}
		}
	}
}