@import '../../../../assets/style/vars.scss';

.account, .basket {
	margin-left: 22px;
	& svg {
		fill: var(--color-brown);
		transition: 0.4s ease-in-out;
	}
	& svg:hover {
		fill: var(--color-light-brown);
	}
}