@import '../../../../assets/style/vars.scss';

.input {
    height: 50px;
	width: 100%;		
    font-family: 'Montserrat';
	font-size: 15px;
	border-radius: 3px;
	border: 2px solid var(--color-brown);
	background-color: var(--color-white);
	outline: none;
	padding-left: 18px;
    opacity: 1;
	color: var(--color-brown);
	transition: 0.4s ease-in-out;
    &::placeholder {
		color: var(--color-brown);
		transition: 0.4s ease-in-out;
	}
	&:hover::placeholder {
		color: var(--color-light-brown);
	}
	&:focus::placeholder {
		opacity: 0;
	}
    &:focus {
        border: 2px solid var(--color-light-brown);
    }
	&:hover {
		border-color: var(--color-light-brown);
	}
	&:hover ~ &_label {
		color: var(--color-light-brown);
	}
    &_wrap {
        position: relative;
		margin-bottom: 20px;
    }
    &_label {
        position: absolute;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		top: -5px;
		left: 15px;
		background-color: var(--color-white);
		font-family: 'Montserrat Bold';
		font-size: 10px;
		color: var(--color-brown);
		transition: 0.4s ease-in-out;
    }
    &:focus ~ &_label {
        color: var(--color-light-brown);
    }
}

