@import '../../../../assets/style/vars.scss';

.slider_arrow {
	&_wrap {
		position: absolute;
	    top: 45%;
	}
	&_left_wrap {
		position: absolute;
		left: 0;
		z-index: 5;
	}
	&_right_wrap {
		position: absolute;
		right: -500px;
		z-index: 5;
	}
	&_left {
		background-color: transparent;
		cursor: pointer;
	}
	&_right {
		background-color: transparent;
		cursor: pointer;
	}
}


// =================MEDIA====================

@media (max-width: 1170px) {
	.slider_arrow {
		&_right_wrap {
			right: -400px;
		}
	}
}

@media (max-width: 886px) {
	.slider_arrow {
		&_right_wrap {
			right: -350px;
		}
	}
}