@import '../../../assets/style/vars.scss';

.page_wrapper {
    display: flex;
	flex-direction: column;
	// margin: 0 auto;
	// height: 100vh;
	background-color: var(--color-grey);
}

.content {
     flex: 1 0 auto;
	//  width: $container;
	//  margin: 0 auto;
	//  height: 100vh;
}
