@import '../../../assets/style/vars.scss';

.page_wrapper {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header'
    'content'
    'footer';
    grid-template-rows: 80px auto 160px;
}

.content {
    position: relative;
    grid-area: content;
}
