@import '../../../assets/style/vars.scss';


.container {
	width: 1290px;
	margin: 0 auto;
}
.card_more {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: var(--color-grey);
	&_slider {
		position: relative;
	}
	&_wrap {
		display: flex;
	}
	&_img {
		display: block;
		width: 500px;
		height: 500px;
		object-fit: cover;
	}
	&_list {
		position: relative;
		width: 500px;
		height: 500px;
		overflow: hidden;
	}
	&_info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 34px;
		width: 100%;
	}
	&_title {
		font-family: 'Forum';
		font-size: 50px;
		color: var(--color-brown);
		width: 600px;
	}
	&_price {
		font-family: 'Forum';
		font-size: 35px;
		color: var(--color-brown);
		margin-right: 6px;
	}
	&_article {
			font-family: 'Montserrat';
			font-size: 16px;
			color: var(--color-brown);
			margin-bottom: 10px;
			& span {
				margin-left: 15px;
			}
	}
}


.btn_wrap {
	display: flex;
	width: 440px;
	margin-bottom: 25px;
}


.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity ease-in-out 0.4s;
	&_active {
		position: absolute;
		width: 100%;
	    height: 100%;
		opacity: 1;
		transition: opacity ease-in-out 0.4s;
	}
}