@import '../../../assets/style/vars.scss';


.container {
	width: 1290px;
}
.card_more {
	display: flex;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 90px;
	height: 100%;
	background-color: var(--color-grey);
	&_slider {
		position: relative;
	}
	&_wrap {
		display: flex;
	}
	&_img {
		display: block;
		width: 500px;
		height: 500px;
		object-fit: cover;
	}
	&_list {
		position: relative;
		width: 500px;
		height: 500px;
		overflow: hidden;
	}
	&_info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 34px;
		width: 100%;
	}
	&_title {
		font-family: 'Forum';
		font-size: 50px;
		color: var(--color-brown);
		width: 600px;
	}
	&_price {
		font-family: 'Forum';
		font-size: 35px;
		color: var(--color-brown);
		margin-right: 6px;
		&_sm {
			font-family: 'Forum';
			font-size: 25px;
			color: var(--color-light-brown);
			margin-left: 10px;
			text-decoration: line-through;
		}
		&_sales {
			font-family: 'Forum';
			font-size: 35px;
			color: var(--color-red);
			margin-right: 10px;
		}
	}
	&_article {
			font-family: 'Montserrat';
			font-size: 16px;
			color: var(--color-brown);
			margin-bottom: 10px;
			& span {
				margin-left: 15px;
			}
	}
}


.btn_wrap {
	display: flex;
	width: 440px;
	margin-bottom: 25px;
}


.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity ease-in-out 0.4s;
	&_active {
		position: absolute;
		width: 100%;
	    height: 100%;
		opacity: 1;
		transition: opacity ease-in-out 0.4s;
	}
}



// =================MEDIA====================

@media (max-width: 1340px) {
	.container {
		width: 1150px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width: 1170px) {
	.container {
		width: 950px;
	}
	.card_more {
		&_title {
			font-size: 35px;
			width: 500px;
		}
		&_info {
			width: 80%;
		}
		&_list {
			height: 400px;
			width: 400px;
		}
		&_img {
			height: 400px;
			width: 400px;
		}
		&_article {
			margin-bottom: 0;
		}
	}
}


@media (max-width: 1022px) {
	.container {
		width: 850px;
	}
	.card_more {
		&_title {
			font-size: 27px;
			width: 100%;
		}
		&_price {
			font-size: 30px;
			&_sm {
				font-size: 20px;
			}
			&_sales {
				font-size: 30px;
			}
		}
	}
	.btn_wrap {
		width: 100%;
	}
}

@media (max-width: 886px) {
	.container {
		width: 750px;
	}
	.card_more {
		&_list {
			width: 350px;
			height: 350px;
		}
		&_img {
			height: 350px;
			width: 350px;
		}
		&_title {
			font-size: 24px;
		}
		&_price {
			font-size: 26px;
			&_sm {
				font-size: 23px;
			}
			&_sales {
				font-size: 26px;
			}
		}
		&_article {
			font-size: 14px;
		}
	}
	.roubles {
		width: 11px;
		height: 16px;
	}

}

@media (max-width: 700px) {
	.card_more {
		padding-top: 30px;
		&_wrap {
			flex-direction: column;
		}
		&_list {
			margin: 0 auto;
			width: 600px;
			height: 600px;
		}
		&_img {
			height: 100%;
			width: 100%;
		}
		&_info {
			margin-left: 57px;
			margin-top: 30px;
		}
		&_title {
			font-size: 30px;
		}
		&_article {
			margin-top: 15px;
		}
	}
	.btn_wrap {
		margin-bottom: 0;
	}
}