@import '../../../../../assets/style/vars.scss';

.popular_product {
	&_list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		gap: 30px;
	}
}


// ===============================

@media (max-width: 1170px) {
	.popular_product {
		&_list {
			gap: 16px;
		}
	}
}



@media (max-width: 886px) {
	.popular_product {
		&_list {
			gap: 15px;
		}
	}
}