@import '../../../assets/style/vars.scss';

.notfound {
    &_container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: $container;
    }
    &_wrap {
        padding-top: 150px;
    }
    &_title {
        font-family: "Montserrat Bold";
        font-size: 45px;
        color: var(--color-brown);
        margin-bottom: 30px;
    }
    &_subtitle {
        font-family: "Montserrat";
        font-size: 45px;
        color: var(--color-brown);
        margin-bottom: 30px;
    }
    &_btn {
        font-family: 'Montserrat Bold';
        color: var(--color-white);
        appearance: none;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 200px;
        text-decoration: none;
        padding: 0 40px;
        font-size: 14px;
        letter-spacing: 0.08em;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.25s ease;
        background-color: var(--color-light-brown);
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: var(--color-brown);
        }
    }
    &_btn_wrap {
        display: flex;
        justify-content: space-between;
        width: 420px;
        height: 60px;
    }
    &_img {
        display: block;
        height: 620px;
    }
}