@import '../../../assets/style/vars.scss';




.notfound {
    &_wrap {
        display: flex;
        justify-content: center;
        background-color: var(--color-grey);
        height: 100%;
    }
    &_container {
        // margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 1290px;
    }
    &_left {
        padding-top: 150px;
        
    }
    &_title {
        font-family: "Montserrat Bold";
        font-size: 45px;
        color: var(--color-brown);
        margin-bottom: 30px;
    }
    &_subtitle {
        font-family: "Montserrat";
        font-size: 45px;
        color: var(--color-brown);
        margin-bottom: 30px;
    }
    &_btn {
        font-family: 'Montserrat Bold';
        color: var(--color-white);
        appearance: none;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 200px;
        text-decoration: none;
        padding: 0 40px;
        font-size: 14px;
        letter-spacing: 0.08em;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.25s ease;
        background-color: var(--color-light-brown);
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: var(--color-brown);
        }
    }
    &_btn_wrap {
        display: flex;
        justify-content: space-between;
        width: 420px;
        height: 60px;
    }
    &_img {
        display: block;
        width: auto;
        object-fit: cover;
        height: 620px;
    }
}


// =================MEDIA====================

@media (max-width: 1340px) {
    .notfound {
        &_container {
            width: 1150px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

@media (max-width: 1170px) {
    .notfound {
        &_container {
            width: 1000px;
            padding-top: 50px;
        }
        &_img {
            height: 500px;
        }
    }

}

@media (max-width: 1022px) {
    .notfound {
        &_container {
            width: 850px;
        }
        &_img {
            height: 400px;
        }
        &_title {
            font-size: 35px;
        } 
        &_subtitle {
            font-size: 35px;
        }
        &_btn {
            font-size: 9px;
            width: 160px;
            height: 50px;
            &_wrap {
                width: 350px;
                height: 50px;
            }
        }
        &_left {
            padding-top: 90px;
        }
    }

}

@media (max-width: 886px) {
    .notfound {
        &_container {
            width: 750px;
        }
        &_img {
            height: 320px;
        }
        &_title {
            font-size: 30px;
            margin-bottom: 20px;
        } 
        &_subtitle {
            font-size: 30px;
            margin-bottom: 20px;
        }
        &_btn {
            padding: 0 30px;
            font-size: 9px;
            width: 140px;
            height: 40px;
            &_wrap {
                width: 300px;
                height: 40px;
            }
        }
        &_left {
            padding-top: 60px;
        }
    }
}