@import '../../../../assets/style/vars.scss';


.button_favorite {
	position: relative;
    width: 60px;
    height: 60px;
    margin-left: 15px;
	appearance: none;
    cursor: pointer;
    transition: all 0.25s ease;
	background-color: var(--color-light-brown);
	transition: 0.4s ease-in-out;
	&:hover {
		background-color: var(--color-brown);
	}
	&_svg {
		fill: var(--color-white);
		&_active {
			fill: red;
		}
	}
}


// =================MEDIA====================

@media (max-width: 1022px) {
	.button_favorite {
			height: 50px;
			width: 50px;
			&_svg {
				width: 20px;
				height: 20px;
			}
	}
}