@import '../../../assets/style/vars.scss';

.container {
  width: 1290px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: start;
}

.profile {
  &_wrap {
    background-color: var(--color-grey);
    height: 100%;
  }
  &_left {
    display: flex;
    flex-direction: column;
  }
  &_right {
    margin-left: 120px;
  }
  &_user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Forum';
    font-size: 40px;
    background-color: rgb(207, 205, 205);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: var(--color-brown);
    font-size: 55px;
  }
  &_links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &_link {
    font-family: 'Forum';
    font-size: 23px;
    color: var(--color-brown);
    margin-top: 20px;
    margin-right: 10px;
    transition: ease-in-out 0.4s;
    &:hover {
      color: var(--color-light-brown);
    }
  }
  &_link_active {
    font-family: 'Forum';
    margin-top: 20px;
    margin-right: 10px;
    font-size: 23px;
    color: var(--color-light-brown);
    transition: ease-in-out 0.4s;
  }
}

// =================MEDIA====================

@media (max-width: 1340px) {
  .container {
    width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 1170px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1022px) {
  .container {
    width: 850px;
  }
}

@media (max-width: 886px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .profile {
    &_right {
      margin-left: 0;
    }
    &_link {
      font-size: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
    &_link_active {
      font-size: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
    &_links {
      margin-top: 0;
    }
    &_user {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .profile {
    &_link {
      font-size: 15px;
      }
      &_link_active {
        font-size: 15px;
    }
  }
}

@media (max-width: 583px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
  }
  .profile {
    &_links {
      flex-direction: initial;
      background-color: var(--color-white);
      align-items: center;
      margin-top: 0;
      justify-content: space-between;
      height: 30px;
    }
    &_link {
      font-size: 12px;
      margin-top: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    &_link_active {
      font-size: 12px;
      margin-top: 0;
    }
    &_right {
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
    &_left {
      margin-bottom: 30px;
    }
  }
}

